<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular-Frontend</title>
</head>
<body>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Angular-Frontend</h1>
        </div>
        <table>
          <tr>
            <th>Name</th>
            <th>Temp</th>
            <th>Time</th>
          </tr>
          <tr *ngFor="let item of result">
            <td>{{item.name}}</td>
            <td>{{item.temp}}</td>
            <td>{{item.time}}</td>
          </tr>
          <tr>
            <th>Temp: </th>
          </tr>
          <tr>
            <button (click)="getTemp()">Get Temp</button>
          </tr>
          <tr>
            <th>Time: </th>
          </tr>
          <tr>
            <button (click)="getTime()">Get Time</button>
          </tr>
          <tr>
            <button (click)="getCities()">Get Cities</button>
          </tr>
        </table>
      </div>
    </div>
</body>
</html>
